@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'VT323', monospace;
}

body {
    text-shadow: 10px 10px 20px black;
    color:rgba(78, 112, 212, 0.76);
    background-image: url("img2.gif");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body div button{
    margin-top: 10px;
    padding: 10px 20px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
}

body div h1{
    font-size: 50px;
    margin-bottom: 20px;
}